
* { box-sizing: border-box; }

.carousel {
  background: #FAFAFA;
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 80vh;
  margin-right: 10px;
  margin-left: 10px;
  background: black;
  border-radius: 25px;
  text-align: left;
  padding: 5vh 5vw 5vh 5vw;
  font-size: 12;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.flickity-prev-next-button {
  background: transparent;
}

.flickity-button-icon {
  fill: white;
}

.flickity-button:hover {
  background: transparent;
}

.flickity-button:disabled {
  display: none;
}
.flickity-page-dots {
  bottom: -22px;
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.overlap-title {
  position: relative;
  color: white;
  font-size: 1.5em;
}

.overlap-text {
  position: relative;
  color: white;
  margin-top: auto;
}

.overlap-shape {
  position: relative;
  background-color: white;
  height: 1px;
  width: 100%;
}

.manga-bg-image {
  background-image: url(https://i.imgur.com/Gf5nVHx.jpg);
  background-size: cover;
}

.aesthetic-bg-image {
  background-image: url(https://imgur.com/kSttYFU.jpg);
  background-size: cover;
}

.scotiabank-bg-image {
  background-image: url(https://i.imgur.com/rEq19pi.jpg);
  background-size: cover;
}

.centivizer-bg-image {
  background-image: url(https://i.imgur.com/yZReY7Q.jpg);
  background-size: cover;
}

.pmcc-bg-image {
  background-image: url(https://i.imgur.com/aGGQYfT.jpg);
  background-size: cover;
}

.bioinformatics-bg-image {
  background-image: url(https://i.imgur.com/27oF3gX.jpg);
  background-size: cover;
}

.altice-bg-image {
  background-image: url(https://i.imgur.com/UAaISgB.jpg);
  background-size: cover;
}

.fashion-bg-image {
  background-image: url(https://i.imgur.com/v2fr1Hp.jpg);
  background-size: cover;
}